/* Styles pour le conteneur principal */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #272544;
  }
  
  .container-email {
    margin: 0 auto;
    padding: 20px;
     background-color: #fdfcff;
    padding-right: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  
  /* Styles pour la rangée */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Styles pour la colonne de l'image */
  .col-md-6.side-image {
    flex: 1;
    padding: 20px;
  }
  
  /* Styles pour l'image */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Styles pour la colonne du formulaire */
  .col-md-6.right {
    flex: 1;
    padding: 20px;
  }
  
  /* Styles pour l'en-tête */
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Styles pour les champs de saisie */
  .input-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles pour les étiquettes des champs de saisie */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Styles pour le bouton */
  .submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submit:hover {
    background-color: #0056b3;
  }